#cont1{
    width: 50%;
    height: 50%;
    border-radius: 20px;
    text-align: center;
    padding-top: 2%;
}
#foto{
    height: 40%;
    width: 40%;
    border-image: 50%;
    padding-left: 20px;
}
#foto1{
    text-align: center;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 2%
}
img{
    border-radius: 10px;
}
div{
    border-radius: 10px;
}
#socialIcons{
    width: 8%;
    height: 8%;
}