<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <links>    
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Working Repositories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Personal Projects</a>
            </li>
        </ul>
    </links>
</mdb-navbar>

<div class="container-fluid" id="cont1">
  <div class="card">
        <div class="view hm-white-slight waves-light" mdbRippleRadius>
            <img src="../assets/img.jpg" class="img-fluid" alt="" id="foto1">
            <a>
                <div class="mask"></div>
            </a>
        </div>  
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Eliomar Antonio Rodríguez Arguedas</h4>
            <!--Text-->
            <p class="card-text"><br><h5>Computer Engineer Student <br>Web Developer at Comunidad de Móviles TEC SC</h5></p>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=15f51e553f940a85">
                <img alt="Correo Gmail" src="../assets/ic_gmail.svg" id="socialIcons">
            </a>
            <a href="https://www.linkedin.com/in/eliomar-rodr%C3%ADguez-arguedas/">
                <img alt="Linkedin" src="../assets/ic_linkedin.svg" id="socialIcons">
            </a>
            <a href="https://github.com/Eliomar-Rodriguez">
                <img alt="GitHub" src="../assets/ic_github.svg" id="socialIcons">
            </a>
        </div>    
    </div>
</div>